<ion-header>
  <ion-toolbar>
    <ion-title>addcategory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input [(ngModel)]="data.name" placeholder="Enter name"></ion-input>
    <ion-button (click)="submitForm()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-item>

 <ion-fab vertical="bottom" horizontal="end" slot="fixed" [routerLink]="['/categories']">
    <ion-fab-button>
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
